/* Make header bigger */
.navbar {
    padding: 1.5rem 1rem; 
    font-size: 1.25rem;    
    background-color: #f8f9fa; 
}

/* Ensure the footer stays at the bottom of the page */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* Make the main content area expand to fill available space */
}

.logged-in {
    color: #ffcc00 !important;
    font-weight: bold;
    padding-left: 15px;
}

.carousel-item img {
    object-fit: cover; 
    width: 100%; 
    height: 100vh; 
}

.footer {
    margin-top: 0; /* Push the footer to the bottom */
    padding: 0;
    background-color: #f8f9fa;
    text-align: center; /* Center the content */
}

/* Optional styling for footer */
.footer h5 {
    font-size: 1.25rem;
}

/* Custom styles for carousel */

.custom-carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.custom-carousel-caption h3 {
    font-size: 3rem; /* Adjust this for larger text */
    font-weight: bold;
}

.custom-carousel-caption p {
    font-size: 2rem; /* Adjust this for larger text */
}

.text-white {
    color: #fff;
}

/* Style for the login form */
form {
    background-color: #f8f9fa;  /* Light background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.form-control {
    padding: 10px;
    font-size: 1rem;
}

/* Style logout button to override form styling */

#logout-form {
    background-color: transparent !important;
    padding: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

/* Ensure the form behaves like an inline element */
.logout-button-form {
    display: inline;
}

/* Styles for the logout button */
.logout-button {
    border: 1px solid #f8d7da;  
    background-color: transparent;  
    padding: 5px 10px;  
    border-radius: 4px;  
    color: rgba(255, 255, 255, .5);
    text-decoration: none;  
    box-shadow: none;  
    cursor: pointer;  
    font-size: 1rem;
}

/* Hover effect for better user interaction */
.logout-button:hover {
    background-color: #f8d7da;  /* Light red background on hover */
    color: #ffffff;  /* White text on hover */
    border-color: #f5c6cb;  /* Slightly darker border on hover */
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}